---
layout: default
header: hero/home.html
---

<section class="about">

	<div class="wrapper">

		<article class="about-article">
			<h2>Sobre a JHS <span class="no-break">Ar-condicionado</span></h2>
			<p>Mais de 10 anos de experiência no ramo de venda, instalação e manutenção em aparelhos de ar condicionado.</p>
			<p>Atendimento rápido e eficiente para empresas, estabelecimentos comerciais e residências, valorizando o relacionamento com os clientes com responsabilidade e transparência.</p>
		</article>

		<article class="about-article">
			<h3>Principais clientes:</h3>
			<div class="grid _row _center">
				{% for cliente in site.clientes %}
				<div class="cell">
					<img src="{{ site.baseurl }}/img{{ cliente.id }}.png" alt="{{ cliente.title }}">
				</div>
				{% endfor %}
			</div>
			<ul>
				{% for cliente in site.clientes %}
				<li>{{ cliente.title }}</li>
				{% endfor %}
			</ul>
		</article>

		<article class="about-article">
			<h3>Serviços</h3>
			<p>A JHS AR-CONDICIONADO orgulha-se de poder contar com uma equipe altamente treinada que garante o sucesso da empresa e a satisfação de nossos clientes.</p>
			<p>Nossos serviços de manutenção, instalação, venda, limpeza e conserto de equipamentos de ar condicionado valorizam a eficiência e responsabilidade.</p> 
			<p>Para oferecer a segurança necessária aos clientes, nossos funcionários atendem o local uniformizados e devidamente identificados. Os serviços de manutenção, programados e controlados através de planilhas de Ordens de Serviço, são sempre avisados previamente aos nossos clientes antes das visitas de nossa equipe.</p>
			<p>Caso o cliente sinta necessidade de visita técnica, nós também disponibilizamos manutenção preventiva de ar-condicionados.</p>
			<p>Visando garantir a funcionalidade dos produtos e a qualidade do ar condicionado, disponibilizamos para nossos clientes um contrato de manutenção de ar-condicionado que autoriza a visita periódica de nossa equipe.</p>
		</article>

		<article class="about-article">
			<h3>Garantia</h3>
			<p>Em busca de sempre oferecer o melhor em serviços de conserto, manutenção, instalação limpeza e venda de ar-condicionados, a JHS AR-CONDICIONADO oferece garantia em todos os serviços executados.</p>
			<ul>
				<li>Manutenção corretiva: 3 meses de garantia.</li>
				<li>Instalação de aparelhos de ar condicionado novos: 6 meses de garantia.</li>
				<li>Exceção: a manutenção preventiva não tem garantia por se tratar de uma limpeza técnica de prevenção e higienização.</li>
			</ul>
		</article>

	</div>


	<article class="about-footer">

		<div class="wrapper">

			<h3>Fornecedores</h3>
			<div class="grid _row _nowrap">
				<div class="cell">
					<img src="{{ site.baseurl }}/img/logo-fujitsu.png" alt="Fujitsu ar-condicionados">
				</div>
				<div class="cell">
					<img src="{{ site.baseurl }}/img/logo-Gree-Electric.png" alt="Gree Electric ar-condicionados">
				</div>
				<div class="cell">
					<img src="{{ site.baseurl }}/img/logo-lg.png" alt="LG ar-condicionados">
				</div>
				<div class="cell">
					<img src="{{ site.baseurl }}/img/logo-springer.png" alt="Springer ar-condicionados">
				</div>
				<div class="cell">
					<img src="{{ site.baseurl }}/img/logo-York.png" alt="York ar-condicionados">
				</div>
			</div>

		</div>

	</article>

</section>
