<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <identity password="0499013" userName="jhsar" />
    </system.web>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <add value="index.html" />
                <add value="index.htm" />
                <add value="index.php" />
                <add value="index.asp" />
                <add value="default.asp" />
                <add value="index.aspx" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <urlCompression doDynamicCompression="false" />
        <handlers>
            <add name="PHP-FastCGI5.6" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php5.6\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
