<header class="site-header hero">
	<div class="wrapper grid _center">
	  <a class="site-title" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/Logo-JHS-Ar.png" alt="{{ site.title }}"></a>
	</div>
	<div class="wrapper">
		<h2 class="hero-title">Instalação e manutenção de <span class="no-break">ar-condicionados</span></h2>
		<p>Soluções para empresas, estabelecimentos comerciais e residências. Valorizamos responsabilidade e transparência. Agende uma manutenção preventiva:</p>
		<p><a href="#contato" class="btn _big">SOLICITE UMA VISITA TÉCNICA</a></p>
	</div>
</header>