<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="grid _row">
      <div class="cell _1of3">
        <ul class="contact-list">
          <li>{{ site.telefones }}</li>
          <li>{{ site.endereco }} <br>{{ site.bairro }} {{ site.cidade }}</li>
        </ul>
      </div>

      <div class="cell _2of3">
        {% include share/widget.html %}
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>

<footer class="modal grid _center" id="contato">
  <div class="wrapper" style="width:90%;">
    <div class="grid _end"><a class="close" href="#">&times;</a></div>
    <h4>Fale conosco</h4>
    <form action="{{ site.url + site.baseurl }}/enviar_email.php" method="post" name="enviar" class="modal-form">
        <div class="grid _row">
          <div class="cell">
            <label for="mce-EMAIL">Email <small class="required">(OBRIGATÓRIO)</small></label>
            <input type="email" value="" name="email" required id="mce-EMAIL">
          </div>
          <div class="cell">
            <label for="mce-FNAME">Nome <small class="required">(OBRIGATÓRIO)</small></label>
            <input type="text" value="" name="nome" required id="mce-FNAME">
          </div>
        </div>
        <div class="grid _row">
          <div class="cell">
            <label for="mce-TEL">Telefone <small class="required">(OBRIGATÓRIO)</small></label>
            <input type="tel" value="" name="telefone" required id="mce-TEL">
            <label for="mce-TYPE">Tipo de solicitação </label>
            <select name="assunto" id="mce-TYPE">
            <option value="Apenas contato">Apenas contato</option>
            <option value="Visita técnica">Visita técnica</option>
            <option value="Orçamento">Orçamento</option>
            </select>
          </div>
          <div class="cell">
            <label for="mce-MSG">Mensagem </label>
            <textarea name="mensagem" id="mce-MSG" cols="30" rows="5"></textarea>
          </div>
        </div>
        <label class="honey"><small>Seres humanos não deveriam ver isso. Deixe este campo em branco.</small><input type="text" name="honeypot"></label>
        <footer class="grid _row _nowrap _center _justify">
          <a href="#">FECHAR</a>
          <button type="submit" class="btn _big">ENVIAR</button> 
        </footer>
      </form>
  </div>
</footer>