<footer class="site-footer">
  <div class="site-footer__wrapper wrapper">
    <div class="site-footer__info">
      <p class="site-footer__info-item">
        <span class="icon">{% include svg/tel.svg %}</span>
        <span>
          <a href="tel:+551532139347">(15) 3213-9347</a>
          /
          <a href="https://wa.me/5515996705888">(15) 99670-5888</a>
        </span>
      </p>
      <p class="site-footer__info-item">
        <span class="icon">{% include svg/addr.svg %}</span>
        <span>
          Rua Pedro Sola Verdum, 896
          <br />
          Jardim J. S. Carvalho - Sorocaba - SP
        </span>
      </p>

      <nav class="site-footer__nav">
        <span class="site-footer__nav-logo">
          {% include svg/hamburguer-JHS.svg %}
        </span>
        <a href="/">{% include svg/home.svg %}</a>
        <a href="/blog/">{% include svg/blog.svg %}</a>
        <a href="https://www.instagram.com/jhs.ar" target="_blank">
          {% include svg/instagram.svg %}
        </a>
      </nav>
    </div>

    <div class="site-footer__cta">
      <a href="#contato" class="btn">Solicite Uma Visita Técnica</a>
    </div>
  </div>
</footer>
