{% assign path = page.url | split: '/' %}{% assign path = path[1] %}{% capture
blog_class %}{% if path == 'blog' %}page-link active{% else %}page-link{% endif
%}{% endcapture %}
<header class="site-header">
  <div class="site-header__wrapper wrapper horizontal align-center">
    <a class="site-title" href="{{ site.baseurl }}/">
      {% include logo-jhs.svg %}
    </a>

    <nav class="site-nav">
      <div id="menu">
        <div class="menu-icon">
          <a href="#menu">
            <img src="{{ site.baseurl }}/img/menu-icon.svg" alt="Menu" />
          </a>
        </div>
        <div class="menu-content">
          <a class="page-link" href="{{ site.baseurl }}/">Início</a>
          <a class="{{blog_class}}" href="/blog/">Blog</a>
          <a
            class="page-link"
            href="https://www.instagram.com/jhs.ar"
            target="_blank"
            >Instagram</a
          >
          <a class="page-link page-link--cta" href="#contato">Orçamento</a>
        </div>
      </div>
    </nav>
  </div>
</header>
