<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.7&appId=331004737231548";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<nav class="site-nav">
  <div class="wrapper grid _end">
    <div class="menu-icon">
      <a class="grid" href="#">
        <svg width="48" height="48" viewBox="0 0 48 48">
          <path d="M 40.700218,27.439511 44,33.263528 l -36.7002178,0 -3.299782,-5.824017 z" style="fill:#ffc12d;stroke:none;" />
          <path d="M 40.700218,21.087992 44,26.912005 l -36.7002178,0 -3.299782,-5.824013 z" style="fill:#ff7905;stroke:none;" />
          <path d="M 40.700218,14.736473 44,20.56049 l -36.7002178,0 -3.299782,-5.824017 z" style="fill:#ff0505;stroke:none;" />
        </svg>
      </a>
    </div>
    <div class="trigger grid">
      <a class="page-link" href="{{ site.baseurl }}/">Início</a>
      {% for my_page in site.pages %}
        {% if my_page.title and my_page.hide != true %}
        <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% endif %}
      {% endfor %}
      <a href="https://www.facebook.com/JHSArCondicionadoSorocaba/" class="page-link" target="_blank">Facebook</a>
      <a href="#contato" class="btn">Orçamento</a>
    </div>
  </div>
</nav>

{% if page.header %}
  {% include {{ page.header }} %}
{% else %}
  <header class="site-header">
    <div class="wrapper grid _center">
      <a class="site-title" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/Logo-JHS-Ar.png" alt="{{ site.title }}"></a>
    </div>
  </header>
{% endif %}
