.grid {

    display: flex;

    &._row {
        flex-direction: row;
    }
    &._column {
        flex-direction: column;
    }
    &._nowrap {
        flex-wrap: nowrap;
    }
    &._wrap {
        flex-wrap: wrap;
        &>* {
            display: inline-block;
            margin: 0 !important;
        }
        &>.grid {
            display: flex;
        }
    }

    &._center {
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    &._justify {
        justify-content: space-between;
    }

    &._around {
        justify-content: space-around;
    }

    &._start {
        align-items: flex-start;
        align-content: flex-start;
        justify-content: flex-start;
    }
    &._end {
        align-items: flex-end;
        align-content: flex-end;
        justify-content: flex-end;
    }

    @include media-query($on-palm) {
        &:not(._nowrap) {
            flex-direction: column;
            width: 100%;

            .cell{
                &:not(._nospace){
                    &:not(:last-child) {
                        margin-bottom: $spacing-unit / 2;
                    }
                }
            }
        }
        &._row._wrap {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    .cell {

        flex: 1;
        min-width: 0;

        &._1of2 {
            flex: 1 1 50%;
        }
        &._1of3 {
            flex: 1 1 33%;
        }
        &._2of3 {
            flex: 1 1 66%;
        }
        &._1of4 {
            flex: 1 1 25%;
        }
        &._1of5 {
            flex: 1 1 20%;
        }
        &._shrink {
            flex: 0 1 auto;
        }

        &:not(._nospace) {
            &:not(:first-child) {
                margin-left: $spacing-unit / 2;
                @include media-query($on-palm) {
                    margin-left: 0;
                }
            }
            &:not(:last-child) {
                margin-right: $spacing-unit / 2;
                @include media-query($on-palm) {
                    margin-right: 0;
                }
            }
        }

        &._fill {
            flex: 1 1 auto;
        }

    }

}