---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="wrapper">
    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    </header>

    <div class="post-content" itemprop="articleBody">{{ content }}</div>
  </div>
</article>

<aside class="post-content section-cta">
  <div class="wrapper grid _center _end">
    <p class="cell _shrink cta-headline">
      Não espere para ter surpresas com o ar-condicionado!
    </p>
    <p class="cell _shrink">
      <a
        href="#contato"
        class="btn _big"
        onclick="ga('send', 'event', 'Navegar', 'Contato', location.pathname + ' @ ' + 'banner no final do post');"
        >SOLICITE UMA VISITA TÉCNICA</a
      >
    </p>
  </div>
</aside>

<aside class="post-content section-nav-post">
  <nav class="wrapper post-navigation grid _row _spacing _justify">
    <div class="cell _1of2 prev">
      {% if page.previous.url %}
      <a href="{{ page.previous.url | prepend: site.baseurl }}"
        >&laquo; {% if page.previous.titulo %}{{ page.previous.titulo }}{% else
        %}{{page.previous.title}}{% endif %}</a
      >
      {% endif %}
    </div>
    <div class="cell _1of2 next">
      {% if page.next.url %}
      <a href="{{ page.next.url | prepend: site.baseurl }}"
        >{% if page.next.titulo %}{{ page.next.titulo }}{% else
        %}{{page.next.title}}{% endif %} &raquo;</a
      >
      {% endif %}
    </div>
  </nav>
</aside>

<div class="post-content">
  <div class="wrapper post" id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = '{{ site.url }}{{ page.url }}';
      this.page.identifier = '{{ page.title }}';
    };
    (function () {
      var d = document,
        s = d.createElement('script');
      s.src = '//jhsarcondicionado.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript
    >Por favor, habilite a execução de JavaScript para ver
    <a href="https://disqus.com/?ref_noscript" rel="nofollow"
      >comentários via Disqus.</a
    ></noscript
  >
</div>
