<div class="share-widget grid _center _start _row _wrap">
	{% include share/btn-facebook.html    class='widget btn-fb' position=include.position %}
	{% include share/btn-twitter.html     class='widget btn-tw' position=include.position %}
	{% include share/btn-linkedin.html    class='widget btn-li' position=include.position %}
	{% include share/btn-google-plus.html class='widget btn-gp' position=include.position %}
	{% include share/btn-whatsapp.html    class='widget btn-wa' position=include.position %}
</div>
